/* Arquivo da folha de estilos de todo o site */
/* Início CSS estilo header */
body, ul {
  margin: 0px;
  padding: 0px;
}
#menu a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
}
#menu a:hover {
  background: rgba(0, 0, 0, 0.05);
  font-size: 15px;
}
#logo {
  font-size: 1.5rem;
}
#logo img {
  height: 60px;
}
#logo img:hover {
  box-shadow: 2px 2px 4px #cbcbcb;
  transition: 0.3s;
}
#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
  box-shadow: 3px 3px 6px #b1b1b1; /* Sombra Menu */
}
#menu {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}
#btn-mobile {
  display: none;
}
/* Fim CSS estilo header */

/* Início estilo carousel */
#carouselExampleInterval {
  position: relative;
  z-index: 10;
  padding-top: 10px;
  box-shadow: 3px 3px 6px #a5a5a5; /* Sombra carousel */
}
/* Fim estilo carousel */

/* Início estilo Banner Home */
/* Para aplicar estilos na CLASS > utilize o ponto [ . ] antes do objeto */
/* Para aplicar estilos no ID > utilize a hashtag [ # ] antes do objeto */
.section-banner-home {
  width: 90%;
  height: 500px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  background-color: #006ccb;
  box-shadow: 3px 3px 6px #b1b1b1; /* Sombra Banner */
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-banner-home img {
  max-height: 450px;
  width: 85%;
  display: block;
  margin: auto;
}
.section-banner-home .texto-banner {
  margin-top: 20px;
  font-size: 22px;
}
.section-banner-home .texto-banner h1 {
  font-size: 30px;
  width: 80%;
  font-weight: 500;
  padding-bottom: 20px;
  color: white;
}
.section-banner-home .texto-banner p {
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
  text-align: justify; /* Justificar as extremidades do texto */
}
.section-banner-home .texto-banner a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #100060;
  padding: 4px 14px;
  font-size: 17px;
  transition: 0.3s; /* Deixando o efeito suave */
}
.section-banner-home .texto-banner a:hover {
  /* color: greenyellow; Cor do Texto */ 
  /* text-shadow: 2px 2px 4px #ffffff7a; Sombra do Texto */
  font-size: 18px;
  font-weight: bold;
}
/* Fim estilo Banner Home */