@import url('https://fonts.googleapis.com/css2?family=Abel&family=Noto+Sans+Egyptian+Hieroglyphs&family=Open+Sans:wght@500&display=swap');
/* Arquivo da folha de estilos de todo o site */
/* Início CSS estilo header */
body,
ul {
  margin: 0px;
  padding: 0px;
}

#menu a {
  font-size: 22px;
  /* border-bottom-left-radius: 15px; Arredondar canto abaixo e esquerdo */
  /* border-bottom-right-radius: 15px; Arredondar canto abaixo e direto */
  /* border-color: #006ccb; */
  /* border-bottom: 0.1px solid #000000; */
  color: black;
  text-decoration: none;
  /* font-family: sans-serif; */
  /* font-family: 'Abel', sans-serif; */
  /* font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  transition: 0.3s;
  text-align: center;
  padding: 0 0.4em 0.2em 0.4em; /* top - rigth - botton - left */
}
#menu a:hover {
  /* background: rgba(0, 0, 0, 0.05); */
  font-size: 24px;
  /* border-bottom-left-radius: 15px; */
  /* border-bottom-right-radius: 15px; */
  /* border-color: #006ccb; */
  border-left: 4px solid #26ff00;
  box-shadow: 1px 1px 2px #969696;
}

#logo {
  font-size: 1.5rem;
}

#logo img {
  height: 60px;
}

#logo img:hover {
  box-shadow: 2px 2px 4px #cbcbcb;
  transition: 0.3s;
}

#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #e7e7e7;
  box-shadow: 3px 3px 6px #b1b1b1;
  /* Sombra Menu */
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}
#hieroglyph p {
  font-family: 'Noto Sans Egyptian Hieroglyphs', sans-serif;
  font: 4em;
}

#btn-mobile {
  display: none;
}

/* Fim CSS estilo header */

/* Início estilo carousel */
#carouselExampleInterval {
  position: relative;
  z-index: 10;
  padding-top: 10px;
  box-shadow: 3px 3px 6px #a5a5a5;
  /* Sombra carousel */
}
/* Fim estilo carousel */

/* Início Estilo Media >> Mobile */
@media (max-width: 690px) {
  #menu {
    display: block;
    position: absolute;
    width: 15em;
    top: 70px;
    right: 0px;
    background: #e7e7e7;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    padding-left: 5px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #menu li {
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: hidden;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    /* Para aumentar ou diminuir a espessura da linha do hamburger */
    width: 30px;
    /* Para alterar a largura do hamburger */
    color: #003f91;
    /*Para alterar a cor do hamburger */
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 30px;
    /* Altera a largura do hamburger, juntamente com o width anterior */
    height: 2px;
    background: currentColor;
    margin-top: 4px;
    /* Altera o epaçamento, entre as linhas do hamburger */
    position: relative;
    border-top: 2px solid;
    /* Para aumentar ou diminuir a espessura linha do hamburger, juntamente com o border-top anterior */
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -6px;
  }
}
/* Fim Estilo Media >> Mobile */

/* Início estilo Banner Home */
/* Para aplicar estilos na CLASS > utilize o ponto [ . ] antes do objeto */
/* Para aplicar estilos no ID > utilize a hashtag [ # ] antes do objeto */
.section-banner-home {
  width: 100%;
  height: 500px;
  margin-top: 10px;
  padding: 50px;
  background-color: #006ccb;
  box-shadow: 3px 3px 6px #b1b1b1;
  /* Sombra Banner */
}

.section-banner-home img {
  height: auto;
  width: 70%;
  display: block;
  margin: auto;
}

.section-banner-home .texto-banner {
  margin-top: 30px;
  font-size: 22px;
}

.section-banner-home .texto-banner h1 {
  font-size: 30px;
  width: 90%;
  /* width = Largura */
  font-weight: 500;
  /* Espessura do Texto */
  padding-bottom: 20px;
  /* Margem interna > Embaixo */
  color: white;
}

.section-banner-home .texto-banner p {
  font-size: 15px;
  margin-bottom: 20px;
  color: white;
  text-align: justify;
}

.section-banner-home .texto-banner a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  background-color: #100060;
  padding: 4px 14px;
  font-size: 17px;
  transition: 0.3s;
  /* Deixando o efeito suave */
}

.section-banner-home .texto-banner a:hover {
  /* color: greenyellow; Cor do Texto */
  /* text-shadow: 2px 2px 4px #ffffff7a; Sombra do Texto */
  font-size: 18px;
  font-weight: bold;
}

/* Fim estilo Banner Home */

/* Início estilo Destaque */
.destaque h2 {
  margin-top: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.destaque p {
  width: 77%;
  text-align: center;
  font-size: 14px;
  margin: 30px auto;
}

.destaque figcaption {
  font-size: 13px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
.destaque #saiba-mais {
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: #006ccb;
  margin: 30px 0px;
  width: 25%;
  /* align-items: center; */
}
.destaque .col-6 img:hover {
  box-shadow: 2px 2px 6px #969696;
  transition: 0.3s;
}

/* Fim estilo Destaque */

/* Início estilo novidades */
.novidades .text-body {
  width: 80%;
  margin: 70px auto;
}
.novidades h2 {
  color: #000;
  font-size: 26px;
  width: 70%;
}
.novidades p {
  color: rgb(0, 0, 0);
}
.novidades a {
  justify-content: center;
  display: flex;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background: #006ccb;
  margin: 30px 0px;
  width: 35%;
  /* align-items: center; */
}
/* Fim estilo novidades */
/* Início estilo galeria */
.galeria {
  margin: 60px auto 20px;
  /* Quando tivermos 4 valores no margin = top / right / botton / left > Exemplo: margin: 60px 60px 60px 60px; */
  /* Quando tivermos 3 valores = top / right and left / botton > Exemplo: margin: 60px auto 60px; */
  /* Quando tivermos 2 valores = top and botton / right and left > Exemplo: margin: 60px 30px; */
  /* Quando tivermos 1 valor = top, botton, right and left serão idênticos > Exemplo: margin: 60px; */
  /* Essa regra se aplica também ao padding. */
}
.galeria .container {
  margin-left: 11%;
}
.galeria h2 {
  text-align: center;
  font-size: 24px;
}
.galeria p {
  text-align: center;
  width: 50%;
  margin: 14px auto 50px;
}
.galeria .gallery {
  width: 30%;
  margin: 14px auto 50px;
}
.galeria .gallery img {
  width: 80%;
  height: 80%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  display: block;
}
.galeria .gallery img:hover {
  -webkit-transform: scale(1.9);
  transform: scale(1.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
}
/* Fim estilo galeria */

/* Início Whatsapp */
.whatsapp {
  position: fixed;
  top: 400px;
  right: 20px;
  z-index: 200;
}
.whatsapp img {
  height: 70px;
}
/* Início efeito pulse */
.whatsapp .pulse {
  animation: pulse 0.7s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.1);
    -webkit-filter: brightness(110%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
/* Fim efeito pulse */
/* Fim Whatsapp */

/* Início estilo Footer (rodape) */
.rodape {
  padding: 50px 50px 0;
}
.rodape .container #logo-rodape img{
  height: 60%;
  width: 60%;
  padding-left: 10px;
  transition: transform .6s;
  display: block;
}
.rodape .container #logo-rodape img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.rodape .info-contato p {
  margin: 0;
}
.rodape .linkFooter {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  margin-left: 0.7rem;
}
.rodape .linkFooter:hover {
  font-weight: bold;
}
.rodape .redes-sociais {
  display: inline-block;
}
.rodape .redes-sociais img {
  width: 50px;
  height: 50px;
  padding-left: 0;
  margin-left: 0.8rem;
  transition: transform .3s;
  border-radius: 15px;
  /* border-radius = arredondando as extremidades da forma */
}
.rodape .redes-sociais img:hover {
  z-index: 1;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.rodape p.direitos {
  text-align: center;
  margin-top: 40px;
}
/* Fim estilo Footer (rodape) */

/* Início estilo Vídeos */
.embed-container {
  position: relative;
  padding-bottom: 0;
  height: auto;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
}
.embed-container p {
  text-align: center;
  font-size: 20px;
}
.embed-container h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.embed-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  border-radius: 1em;
  box-shadow: gray 0.5em 0.5em 0.3em;
  transition: transform .3s;
  display: flex;
}
.embed-container iframe:hover {
  flex: 1;
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.446);
}
.embed-container .col-lg-4 {
  margin-top: 30px;
}
.embed-container .col-lg-6 {
  margin-top: 30px;
}
/* Fim estilo Vídeos */
/* Início estilo Contato */
.contact {
  padding: 70px 0px;
  background: #ffffffb0;
}
.section-title h2 {
  color: #000;
  font-size: 30px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 8px;
  border-bottom: 5px solid #000;
  padding-bottom: 10px;
  display: inline-block;
}
.section-title p {
  color: #000;
  margin-bottom: 30px;
}
.contact input,
.contact textarea {
  background: #fafafa;
}
.contact textarea {
  min-height: 188px;
  max-width: 100%;
}
.contact .map {
  overflow: hidden;
  border-radius: 4px;
  height: 70%;
}

/* Início estilo Market Place */
.market-place {
  height: 180px;
  width: 100%;
  position: relative;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.market-place img {
  height: 160px;
  width: 100%;
}
/* Fim estilo Market Place */

/* Fim estilo Contato */

/* Início estilo Produtos */
.col-lg-4 .card {
  border-style: none;
  border: 0px;
  min-height: 300px;
}
.text-center .mb-5 {
  margin-top: 20px;
}
.card img {
  /* height: auto; */
  width: auto;
  max-height: 300px;
}
.bg-image {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-attachment: fixed;
}
.hover-overlay .mask {
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.hover-overlay .mask:hover {
  opacity: 1;
}
.card-body .btn {
  background-color: #ababab; /* cor do botão */
  color: white; /* cor do texto do botão */
  font-weight: 400; /* espessura do texto ex. negrito = bold */
  border: none;
  outline: 0px solid transparent;
}


/* Fim estilo Produtos */
